@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.font1{
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color:#CCD6F6;
}

.light{
   color: #8892B0;
}
.mw540px{
    max-width: 540px;
}