@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-color{
background-color: rgb(10,25,47);
}

.white{
 color:#CCD6F6;
}
.light{
  color:#8892B0;
}
.secondary{
  color:#64ffda;
}

.font-code{
  font-family: 'Fira Code', monospace;
}

.mh100{
  min-height: 100vh;
}