.tech{
    font-size: 13px;
    font-family: 'Fira Code', monospace;
}

.filter-gray{
    filter:  grayscale(100%) contrast(1) brightness(90%);
    transition: 0.5s ease filter;
}

.filter-gray:hover{
    filter: none;
}